---
published: true
layout: default
section: blog
permalink: blog/
---

<style>
  #splash-div {
    background: url('/media/blog/bg1.jpg') no-repeat fixed center;
    background-size: cover;
    height: 8em;
  }
</style>

<div id="splash-div"></div>


<section id="posts">
  <div class='container'>
    <div class="row">
      <div class="col-md-8">
        <h2>Blog</h2>

        {% for item in site.categories.blog limit:1000 %}
        {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
        {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

        {% if date != ndate %}
        <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
        {% endif %}

        <div>
          <a class='item' href='{{site.baseurl}}{{item.url}}'>
            {{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span>
          </a>
          {{item.except}}
        </div>

        {% endfor %}
      </div>


      <div class="col-md-4">
        {% include rss-link.html %}
      </div>

    </div>

  </div>
</section>
