---
---
body {
  font-family: "微軟正黑體", "黑体", "微软雅黑", "宋体", "Roboto", "Lucida Grande", "Lucida Sans Unicode", "STHeitiTC-Light", "Helvetica", "Arial", "Verdana", "sans-serif";
  padding-top: 80px;
}

#main-navbar {
  background-size: cover;
  margin-bottom: 2px;
  background: #C8252C url('{{site.baseurl}}/media/global/parallax1.png') no-repeat;
  padding: 10px;
}

#main-navbar li > a.active {
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a {
  color: #E0E0E0;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

#main-footer {
  background-color: #303334;
  padding: 20px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

#main-footer ul > li {
  display: inline-block;
}

#main-footer a {
  color: #fff;
}

#main-footer-contact {
  text-transform: none;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#main-footer-contact a:active, a:hover, a:focus {
  text-decoration: none;
}

#main-footer-contact h1 {
  font-weight: 300;
}

#main-footer-contact .icons > li {
  height: 40px;
  width: 40px;
  font-size: 30px;
  margin-top: 20px;
}
