<style>
  #main-jumbotron {
    background-size: cover;
    background: url('{{site.baseurl}}/media/index/bg1.png') no-repeat center;
    background-color: inherit;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
  }

  #main-jumbotron h1 {
    text-transform: uppercase;
    letter-spacing: -1.5px;
    font-weight: 300;
    color: #fff;
  }

  .btn-lg {
    min-width: 242px;
    font-size: 20px;
    padding: 15px 10px 16px;
    color: #ffffff;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50px;
    transition: 0.3s all ease;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
  }

  #testimonials {
    background-color: #ddd;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 300;
  }

  #testimonials blockquote {
    border-left: 0;
    margin: 0;
    padding: 0 0 0 69px;
    position: relative;
  }

  #testimonials blockquote:before {
    content: '\f10d';
    position: absolute;
    font-size: 45px;
    top: -5px;
    left: 0;
    font-family: 'FontAwesome', "sans-serif";
    color: #fa5254;
  }

  #testimonials h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  #awards {
    padding-top: 192px;
    padding-bottom: 146px;
  }

  #awards h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  figure {
    background: #fff;
  }

  figure img {
    width: 100%;
  }

  figure figcaption {
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
  }

  #jobs {
    background-color: #ddd;
    padding-top: 192px;
    padding-bottom: 146px;
  }

</style>

<section class="jumbotron" id="main-jumbotron">
  <div class="container">

    <h1 class="text-center">
      {{ site.data.[page.lang].home['JUMBO_TITLE'] }}
    </h1>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 text-center" style="color:#fff;">
        <img src="{{site.baseurl}}/media/global/ee-iphone-en.png"
             alt="get work, quick cash, quick jobs, adecco, manpower, jobhoh partime staff, temporary staff, hire workers, part time, hire help, cash work, cash jobs"
             style="padding-bottom:50px; width:auto; height:400px">
        <br>
        <a class="btn btn-primary btn-lg" href="https://app.jobdoh.com/?lo=en">
          {{ site.data.[page.lang].home['JUMBO_EMPLOYEE_ACTION'] }}
        </a>
        <p>
          <br>
          <a href="https://itunes.apple.com/app/id956413528">
            <img src="{{site.baseurl}}/media/global/apple_download.png"
                 alt="download apple store jobdoh app" style="width:auto; height: 35px;">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.jobdoh.employee">
            <img src="{{site.baseurl}}/media/global/google_download.png"
                 alt="download android play store jobdoh app" style="width:auto; height: 35px;">
          </a>
        </p>
      </div>


      <div class="col-md-6 col-sm-6 col-xs-12 text-center" style="color:#fff;">
        <img src="{{site.baseurl}}/media/global/er-iphone-en.png"
             alt="jobdoh employers looking for staff, hire staff on-demand, last-minute hiring, hire temp staff, adecco, manpower, jobsdb, craigslist, hire daily labor"
             style="padding-bottom:50px; width:auto; height:400px">
        <br>
        <a class="btn btn-primary btn-lg" href="https://app.jobdoh.com/employer.html?lo=en">
          {{ site.data.[page.lang].home['JUMBO_EMPLOYER_ACTION'] }}
        </a>
        <p>
          <br>
          <a href="https://itunes.apple.com/app/id956413185">
            <img src="{{site.baseurl}}/media/global/apple_download.png"
                 alt="apple store jobdoh" style="width:auto; height: 35px;">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.jobdoh.employer">
            <img src="{{site.baseurl}}/media/global/google_download.png"
                 alt="android play store jobdoh" style="width:auto; height: 35px;">
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="awards">
  <div class="container text-center">
    <h1>{{ site.data.[page.lang].home['AWARDS_TITLE'] }}</h1>
    <div class="row text-left">

      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/google_eye.png" alt="google EYE program winners">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_EYEP'] }}</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/cyberport.png"
               alt="hong kong cyberport incubation program CCMF, top startups">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_CYBERPORT'] }}</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/seedcamp.png"
               alt="seedcamp europe london top startups, fastgrowing">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_SEEDCAMP'] }}</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>

          <img src="{{site.baseurl}}/media/index/awards/ozapp.png" alt="australia ozapp top startups awards">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_OZAPP'] }}</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/award-hksec.png"
               alt="chinese university hong kong CUHK Social Enterprise Challenge SEC Competition winner">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_CUHK'] }}</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/ict_award.png" alt="hong kong ict awards special mention 2015">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_HKICT2015'] }}</p>
          </figcaption>
        </figure>

      </div>
    </div>

    <div class="row text-left">
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/blueprint.png" alt="Swire blueprint top startups hong kong">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_BLUEPRINT'] }}</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/TLF Poster.jpg"
               alt="Hong Kong polytechnic university TLF scheme, top university startups">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_POLY'] }}</p>
          </figcaption>
        </figure>

      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/ICT 2016.jpg"
               alt="Hong Kong ict awards outstanding SME award 2016">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_HKICT'] }}</p>
          </figcaption>
        </figure>

      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/Asia HR 2016.png" alt="human resources magazine 2016 hr awards">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_HRAWARDS'] }}</p>
          </figcaption>
        </figure>

      </div>
      <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
        <hr style="border-top-color: #222;">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <figure>
          <img src="{{site.baseurl}}/media/index/awards/venture.png"
               alt="chivas the venture competition 2016, hk startup with social impact, business with social impact">
          <figcaption>
            <p>{{ site.data.[page.lang].home['AWARDS_CHIVAS'] }}</p>
          </figcaption>
        </figure>

      </div>
    </div>
  </div>
</section>

<section id="partners">
  <div class="container text-center">
    <h1>{{ site.data.[page.lang].home['PARTNERS_TITLE'] }}</h1>
    <div class="row text-center">

      <div class="col-md-5 col-sm-10 col-xs-10">
        <figure>
          <img src="{{site.baseurl}}/media/index/manpower_jobdoh_exclusive_payroll_partner.png" alt="manpower jobdoh exclusive payroll app platform">
          <figcaption>
            <p>{{ site.data.[page.lang].home['PARTNERS_MP'] }}</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-5 col-sm-10 col-xs-10">
        <figure>
          <img src="{{site.baseurl}}/media/index/pico_affiliate_partner_exhibition_tradeshow_booth.jpg"
               alt="pico affiliate partner booking exhibition booth tradeshow">
          <figcaption>
            <p>{{ site.data.[page.lang].home['PARTNERS_PICO'] }}</p>
          </figcaption>
        </figure>
      </div>
      
     
      
      
    </div>
  </div>
</section>




<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <h1>{{ site.data.[page.lang].home['TESTIMONIAL_EMPLOYEE_TITLE'] }}</h1>
        <div class="row text-left">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <blockquote>
              Really efficient, and really convenient to get a job! The app is
              very user friendly, allowing me to apply for many jobs wherever
              I go. I'm happy to say that this is totally like a working
              holiday! I would like to thank the <b>JOBDOH</b> team
              for making this real.
              <h4>
                <img class="img-circle" src="{{site.baseurl}}/media/index/testimonials/serena.png">
                Serena C
              </h4>
            </blockquote>
          </div>
          <div class="col-sm-12 col-xs-12 col-no-margin visible-sm visible-xs">

            <hr style="border-top-color: #222;">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <blockquote>
              Now, I can find jobs quickly and easily! It only took me a few
              minutes to apply for a job. I can finally forget about finding
              jobs on newspapers – so time consuming. Plus, there's a variety
              of jobs to choose from! <b>JOBDOH</b> is highly
              flexible, allowing me to apply for as an waiter and promoter at
              the same day.
              <h4>
                <img class="img-circle" src="{{site.baseurl}}/media/index/testimonials/yip.png">
                Yip Chan
              </h4>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 text-center">
        <h1>{{ site.data.[page.lang].home['TESTIMONIAL_EMPLOYER_TITLE'] }}</h1>
        <div class="row text-left">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <blockquote>
              Needed staff urgently for multiple events in Hong Kong.
              <b>JOBDOH</b>
              provides a quick and efficient job placement solution.The team
              has been extremely helpful and was there every single step of
              the way.Would highly recommend <b>JOBDOH</b> to anyone
              needing a staffing solution.
              <h4>
                <img class="img-circle" src="{{site.baseurl}}/media/index/testimonials/dineanddesign.jpg">
                Taryn Forlee, Dine &amp; Design Festival
              </h4>
            </blockquote>
          </div>
          <div class="col-sm-12 col-xs-12 col-no-margin visible-sm visible-xs">
            <hr style="border-top-color: #222;">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <blockquote>
              <b>JOBDOH</b> is an inexpensive platform allowing for
              quick access to helpful candidates. Sometimes, all you need is
              an extra pair of hands. Let <b>JOBDOH</b> be that for
              you. Quality candidates, easy setup, no strings attached, all
              helped me get the job done much quicker with
              <b>JOBDOH</b>.

              <h4>
                <img class="img-circle" src="{{site.baseurl}}/media/index/testimonials/kevin.png">
                Kevin Shih, Jan Jan Kushikatsu
              </h4>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="jobs">
  <div class="container text-center">
    <h1>{{ site.data.[page.lang].home['JOB_TYPE_TITLE'] }}</h1>


      <div class="row text-left"
              style="margin-top: 45px; margin-left: 4px; margin-right: 15px;">
        
              <div class="row text-left">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/research.jpg" alt="market research, desptop search, data entry">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_RESEARCH'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_RESEARCH_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/promotion.jpg"
                 alt="sales job, promotion, promoters, sales lady, event helpers, translators, interpretors">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_PROMOTION'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_PROMOTION_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/expo.jpg"
                 alt="exhibition helpers, flyer distributors, exhibition center, promotion, promoters, sales lady, event helpers, translators, interpretors">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_EXHIBITION'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_EXHIBITION_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/food_beverage.jpg"
                 alt="waiter, waitress, restaurants, helpers, cleaners, cooks, chefs, line staff, line cook, experienced cooks">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_HOSPITALITY'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_HOSPITALITY_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>
      </div>
      
      <div class="row text-left"
              style="margin-top: 45px; margin-left: 4px; margin-right: 15px;">
        
        <div class="row" style="height:20px"></div>
      
        <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
          <hr style="border-top-color: #222;">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/food_beverage.jpg"
                 alt="waiter, waitress, restaurants, helpers, cleaners, cooks, chefs, line staff, line cook, experienced cooks">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_PA'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_PA_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/food_beverage.jpg"
                 alt="waiter, waitress, restaurants, helpers, cleaners, cooks, chefs, line staff, line cook, experienced cooks">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_LOGISTICS'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_LOGISTICS_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/food_beverage.jpg"
                 alt="waiter, waitress, restaurants, helpers, cleaners, cooks, chefs, line staff, line cook, experienced cooks">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_CREATIVE'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_CREATIVE_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure>
            <img src="{{site.baseurl}}/media/index/jobs/food_beverage.jpg"
                 alt="waiter, waitress, restaurants, helpers, cleaners, cooks, chefs, line staff, line cook, experienced cooks">
            <figcaption>
              <h2>{{ site.data.[page.lang].home['JOB_TYPE_BEAUTY'] }}</h2>
              <p>{{ site.data.[page.lang].home['JOB_TYPE_BEAUTY_DETAIL'] }}</p>
            </figcaption>
          </figure>
        </div>

</div>
      </div>
    </div>
  </div>
</section>
