---
layout: default
section: blog
title: Blog
---

<style>
  #splash-div {
    background: url('/media/blog/bg1.jpg') no-repeat fixed center;
    background-size: cover;
    height: 8em;
  }

  .blog-post img {
    max-width: 100%;
  }

</style>

<div id="splash-div"></div>


<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% for item in paginator.posts limit:1000 %}
        {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
        {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

        <div class="panel panel-default blog-post">
          <div class="panel-body">
            <a class='item' href='{{site.baseurl}}{{item.url}}'>
              <h1>{{item.title}}</h1>
            </a>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{item.date | date_to_string}}
            {% if item.author and item.author != '' %}
            <i class="fa fa-pencil" aria-hidden="true"></i>
            {{item.author}}
            {% endif %}
            <p>
              {{item.excerpt}}
            </p>
          </div>
        </div>

        {% endfor %}


        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
          </li>
          {% else %}
          <li class="disabled"><a>&laquo;</a></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
          <li class="active"><a>{{ page }}</a></li>
          {% elsif page == 1 %}
          <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          </li>
          {% else %}
          <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
              {{ page }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><a>&raquo;</a></li>
          {% endif %}
        </ul>
        {% endif %}


      </div>


      <div class="col-md-4">
        <p>
          {% include rss-link.html %}
        </p>
      </div>

    </div>

  </div>
</section>
