---
layout: default
section: blog
---

{% if page.splash %}
{% if page.splash contains 'http' %}
{% capture url %}{{page.splash}}{% endcapture %}
{% else %}
{% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
{% endif %}

<div>
  <img src='{{ url }}' style="width: 100%"/>
</div>
{% endif %}

<section class='container'>
  <div class="row">
    <div class="col-md-8">
      <div class='heading'>
        <h1>{{page.title}}</h1><span class='date'>{{page.date | date:"%b %d"}}</span>
      </div>
      {{content}}
    </div>

  </div>

  <div class="row">
    <div class="col-md-8">
      <ul class="pager">
        {% if page.previous.url %}
        <li class="previous"><a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></li>
        {% endif %}
        {% if page.next.url %}
        <li class="next"><a href="{{page.next.url}}">{{page.next.title}} &raquo;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

</section>
