<!DOCTYPE html>
{% if page.lang %}
{% assign pageLang = page.lang %}
{% else %}
{% assign pageLang = 'en' %}
{% endif %}

{% if pageLang == 'en' %}
{% assign pageLangPath = '' %}
{% else %}
{% assign pageLangPath = pageLang | append: '/' %}
{% endif %}
<html>
<head>
<title>JOBDOH | Fastest way to hire, recruit part-time, temporary, on-demand staff and to get work within 24 hours 30秒請人，搵兼職，短工，散工，炒散，現金工，搵工</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog.rss"/>
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">

  <meta name="keywords" content="散工, 兼職, 臨時工, working holiday，工作假期，揾錢，part-time job, ManPower, Adecco, grabbit, taskrabbit, on-demand hire, oon-demand jobs, grabbit, workking, 揾散工,散工app, 炒散, daily work, work at home, temp work, temp job, 炒散app,炒散王,WorkKing,HKGoodJobs,recruit,招聘,freelance, part-time staff，請人">

  <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="{{site.baseurl}}/global.css">

  {% seo title=false %}



<meta name="google-site-verification" content="xa3JXehc19Hw9KWk730uo7MrWUXVwPuFirSkW_yt58Q" />
</head>
<body>

<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5" async></script>

<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/media/global/logo.png" style="height: 58px" alt="Jobdoh smart on-demand hiring temp staff">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li><a class="{% if page.section == 'home' %}active{% endif %}" href="{{site.baseurl}}/{{pageLangPath}}">
          {{ site.data.[pageLang].default['NAV_HOME'] }}
        </a></li>
        <li><a class="{% if page.section == 'employer' %}active{% endif %}" href="{{site.baseurl}}/{{pageLangPath}}employer">
          {{ site.data.[pageLang].default['NAV_EMPLOYER'] }}
        </a>
        </li>
        <li><a class="{% if page.section == 'employee' %}active{% endif %}" href="{{site.baseurl}}/{{pageLangPath}}employee">
          {{ site.data.[pageLang].default['NAV_EMPLOYEE'] }}
        </a>
        </li>
        <!--<li><a class="{% if page.section == 'home' %}active{% endif %}" href="{{site.baseurl}}/{{pageLangPath}}">-->
          <!--{{ site.data.[pageLang].default['NAV_HOWWORKS'] }}-->
        <!--</a></li>-->
        <li><a class="{% if page.section == 'blog' %}active{% endif %}" href="{{site.baseurl}}/blog">
          {{ site.data.[pageLang].default['NAV_BLOG'] }}
        </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            {{ site.data.[pageLang].default['NAV_LOGIN'] }}
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://app.jobdoh.com/?lo=en#/sign?mode=In">
              {{ site.data.[pageLang].default['NAV_LOGIN_EMPLOYEES'] }}
            </a></li>
            <li><a href="https://app.jobdoh.com/employer.html?lo=en#/sign?mode=In">
              {{ site.data.[pageLang].default['NAV_LOGIN_EMPLOYERS'] }}
            </a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            {{ site.data.[pageLang].default['CURRENT_LANGUAGE'] }}
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/">
              English
            </a></li>
            <li><a href="{{site.baseurl}}/zh-hk">
              中文（香港）
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{content}}

<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="main-footer-contact">
        <h1>
          <i class="fa fa-envelope"></i> <a href="mailto:info@jobdoh.com">info@jobdoh.com</a>
        </h1>
        <ul class="list-inline icons">
          <li><a href="https://www.facebook.com/JOBDOHHK/" class="fa fa-facebook" target="_blank"></a></li>
          <li><a href="https://www.linkedin.com/company/10099623" class="fa fa-linkedin" target="_blank"></a></li>
          <li><a href="https://twitter.com/JOBDOH" class="fa fa-twitter" target="_blank"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="list-inline">
          <li><a href="{{site.baseurl}}/terms">
            {{ site.data.[pageLang].default['FOOTER_TERMS'] }}
          </a></li>
        </ul>
      </div>

      <div class="col-md-3 col-md-push-6 text-right">
        <p>
          Copyright 2016 JOBDOH &copy;
        </p>
      </div>
    </div>

  </div>
</footer>

</body>

<script src="//code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-51784383-1', 'auto');
  ga('send', 'pageview');
</script>
</html>
