<!DOCTYPE html>
<html>
<head>
  <title>JOBDOH{% if page.url != "/index.html" %} | {{page.title}}{% endif %}</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog.rss"/>
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">

  <meta name="description"
        content="Need pre-screened quick or last-minute temporary help or work? Download JOBDOH today, an award-wining smart booking platform to solve your temp work hiring needs">
  <meta name="keywords" content="散工, 兼職, 臨時工, working holiday，工作假期，揾錢，part-time job, ManPower, Adecco">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="{{site.baseurl}}/global.css">
</head>

<body>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5" async></script>

<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/media/global/logo.png" style="height: 58px" alt="Jobdoh">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="{% if page.section == 'home' %}active{% endif %}" href="{{site.baseurl}}/">Home</a></li>
        <li><a class="{% if page.section == 'employee' %}active{% endif %}" href="{{site.baseurl}}/employee">
          Get a Job</a>
        </li>
        <li><a class="{% if page.section == 'employer' %}active{% endif %}" href="{{site.baseurl}}/employer">
          Hire Workers</a>
        </li>
        <li><a class="{% if page.section == 'blog' %}active{% endif %}" href="{{site.baseurl}}/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>

{{content}}

<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="main-footer-contact">
        <h1>
          <i class="fa fa-envelope"></i> <a href="mailto:info@jobdoh.com">info@jobdoh.com</a>
        </h1>
        <ul class="list-inline icons">
          <li><a href="https://www.facebook.com/JOBDOHHK/" class="fa fa-facebook" target="_blank"></a></li>
          <li><a href="https://www.linkedin.com/company/10099623" class="fa fa-linkedin" target="_blank"></a></li>
          <li><a href="https://twitter.com/JOBDOH" class="fa fa-twitter" target="_blank"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="list-inline">
          <li><a href="">Terms</a></li>
          <li><a href="">Privacy</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-md-push-6 text-right">
        <p>
          Copyright 2016 JOBDOH &copy;
        </p>
      </div>
    </div>

  </div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</html>
