<!DOCTYPE html>
<html>
<head>
  <title>JOBDOH{% if page.url != '/index.html' %} | {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/blog.rss' />
  <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon' />
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>
        <div class='clearfix col12'>
          <div class='menu fr'>
            <a class='{% if page.section == "home" %}active{% endif %}' href='{{site.baseurl}}/'>Home</a>
            <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/blog'>Blog</a>
            <a class='{% if page.section == "about" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
          </div>
          <h1 class='title'><a href='{{site.baseurl}}/'>{{site.title}}</a></h1>
        </div>
      </div>
    </div>
    {{content}}
  </div>
</body>
